CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
.ninja_deps
.ninja_log
build.ninja
compile_commands.json
CTestTestfile.cmake
_deps

